.task{
   background-color: antiquewhite;
   position: relative;
   display: flex;
   border-color: white;
   margin-top: 10px;  
   width:90%;
   height: 70px; 
  .task-title{
    width: 100%;
    font-size: x-large;
    margin-left: 20px;
  } 
  .task-time{
      color: darkgray;
      margin-left: 20px;
      font-size: smaller;
      position: absolute;
      bottom: 5px;
  }
  .status{
    position: absolute;
    right:50px;
    top: 16px;
  }
}


button{
  width: 130px
}

.add-icon{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 50px;
  top: 16px;
  cursor: pointer;
}

