<div class="header">
    <span>Hi {{data.username}} ! Please find your tasks for today</span>
</div>

<div class="task container"><button class="btn btn-primary add-icon"  matTooltip="Create new task"> <i class="material-icons" >add_circle</i> Add Task </button></div>
<div *ngFor="let task of tasks; let taskIndex = index" class="task container">
    <div>
        <div class="task-title"> {{task.title}}</div>
        <div class="task-time"> Created at: {{task.createdAt | date:'short'}} </div>
    </div>
    <div class="status">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" id="taskIndex" data-toggle="dropdown">
              {{task.currentStatus}}
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" *ngFor="let status of statuses; let i = index" (click)="onStatusClick(i, taskIndex)">{{status}}</a>
            </div>
          </div>
    </div>
</div>

